In [21]:
from networkx import *
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import networkx as nx
url="http://www-personal.umich.edu/~mejn/netdata/football.zip"

import urllib
import io
import zipfile

football = urllib.urlopen(url)  # open URL
f=io.BytesIO(football.read()) # read into BytesIO "file"
football.close()

zf = zipfile.ZipFile(f) # zipfile object
txt=zf.read('football.txt').decode() # read info file
gml=zf.read('football.gml').decode() # read gml data
# throw away bogus first line with # from mejn files
gml=gml.split('\n')[1:]
G=parse_gml(gml) # parse gml data


print(txt)
# print degree for each team - number of games

The file football.gml contains the network of American football games
between Division IA colleges during regular season Fall 2000, as compiled
by M. Girvan and M. Newman.  The nodes have values that indicate to which
conferences they belong.  The values are as follows:

  0 = Atlantic Coast
  1 = Big East
  2 = Big Ten
  3 = Big Twelve
  4 = Conference USA
  5 = Independents
  6 = Mid-American
  7 = Mountain West
  8 = Pacific Ten
  9 = Southeastern
 10 = Sun Belt
 11 = Western Athletic

If you make use of these data, please cite M. Girvan and M. E. J. Newman,
Community structure in social and biological networks,
Proc. Natl. Acad. Sci. USA 99, 7821-7826 (2002).

Correction: Two edges were erroneously duplicated in this data set, and
have been removed (21 SEP 2014)

In [22]:
df = pd.DataFrame(G.node)
df.ix['value'].unique()

/Users/vivian/anaconda/lib/python2.7/site-packages/ipykernel_launcher.py:2: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate_ix

array([7, 6, 9, 4, 8, 10, 3, 11, 1, 5, 0, 2], dtype=object)

In [23]:
df.head()

,AirForce,Akron,Alabama,AlabamaBirmingham,Arizona,ArizonaState,Arkansas,ArkansasState,Army,Auburn,...,Vanderbilt,Virginia,VirginiaTech,WakeForest,Washington,WashingtonState,WestVirginia,WesternMichigan,Wisconsin,Wyoming
id,93,18,20,112,22,8,113,24,91,17,...,62,33,19,105,51,78,30,14,15,16
label,AirForce,Akron,Alabama,AlabamaBirmingham,Arizona,ArizonaState,Arkansas,ArkansasState,Army,Auburn,...,Vanderbilt,Virginia,VirginiaTech,WakeForest,Washington,WashingtonState,WestVirginia,WesternMichigan,Wisconsin,Wyoming
value,7,6,9,4,8,8,9,10,4,9,...,9,0,1,0,8,8,1,6,2,7

In [24]:
edges_df = pd.DataFrame(G.edge)
edges_df.head()

,AirForce,Akron,Alabama,AlabamaBirmingham,Arizona,ArizonaState,Arkansas,ArkansasState,Army,Auburn,...,Vanderbilt,Virginia,VirginiaTech,WakeForest,Washington,WashingtonState,WestVirginia,WesternMichigan,Wisconsin,Wyoming
AirForce,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{},NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{}
Akron,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN
Alabama,NaN,NaN,NaN,NaN,NaN,NaN,{},NaN,NaN,{},...,{},NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
AlabamaBirmingham,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,{},NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
Arizona,NaN,NaN,NaN,NaN,NaN,{},NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,{},{},NaN,NaN,NaN,NaN

In [39]:
# Before we find the degree centrality, we want to find degree of each node.
for n,d in G.degree_iter():
    print('%s %d' % (n, d))

Mississippi 11
OregonState 10
NotreDame 11
Wyoming 11
Minnesota 11
Illinois 11
Kent 10
Toledo 9
Indiana 11
Clemson 10
Texas 11
BostonCollege 11
MississippiState 11
Tulsa 12
Kansas 10
SouthernMethodist 12
Connecticut 7
Tulane 11
Duke 11
Missouri 10
TexasChristian 11
LouisianaState 10
CentralFlorida 8
Cincinnati 11
Washington 11
OklahomaState 10
Marshall 10
IowaState 11
Army 11
LouisianaTech 10
AlabamaBirmingham 10
MiamiOhio 11
MiddleTennesseeState 9
Maryland 11
Rice 11
SanJoseState 11
NorthCarolinaState 11
Arizona 11
Wisconsin 12
Pittsburgh 11
Michigan 11
Purdue 11
Oregon 11
Syracuse 11
SouthernCalifornia 12
Northwestern 11
SanDiegoState 11
Florida 11
BowlingGreenState 11
NewMexicoState 11
Baylor 10
MichiganState 11
Ohio 10
Buffalo 11
SouthernMississippi 10
WashingtonState 11
BoiseState 9
WakeForest 10
NorthernIllinois 10
KansasState 12
WesternMichigan 10
Navy 11
VirginiaTech 11
UtahState 9
Oklahoma 11
GeorgiaTech 11
Louisville 10
Arkansas 10
Temple 11
BallState 10
Vanderbilt 11
LouisianaLafayette 8
California 11
ColoradoState 10
Akron 11
FresnoState 11
Georgia 10
TexasA&M 11
FloridaState 12
Rutgers 10
NevadaLasVegas 12
PennState 12
LouisianaMonroe 8
Colorado 11
ArizonaState 11
Memphis 11
BrighamYoung 12
UCLA 11
Auburn 11
Nevada 12
ArkansasState 10
EasternMichigan 11
SouthCarolina 11
MiamiFlorida 10
Idaho 9
OhioState 11
Utah 11
Virginia 10
TexasElPaso 11
TexasTech 12
NewMexico 11
CentralMichigan 11
Stanford 11
EastCarolina 11
NorthCarolina 11
Hawaii 11
Kentucky 10
Nebraska 11
WestVirginia 11
Iowa 12
Alabama 11
Houston 11
NorthTexas 10
AirForce 10
Tennessee 11

In [55]:
deg=net.degree(G)
min(deg.values())

7

In [60]:
max (deg.values())

12

In [59]:
degree_of_nodes = degree_centrality(G)
for key, value in sorted(degree_of_nodes.iteritems(), key=lambda (k,v): (v,k), reverse = True):
    print "%s %s" % (key, value)

Wisconsin 0.105263157895
Tulsa 0.105263157895
TexasTech 0.105263157895
SouthernMethodist 0.105263157895
SouthernCalifornia 0.105263157895
PennState 0.105263157895
NevadaLasVegas 0.105263157895
Nevada 0.105263157895
KansasState 0.105263157895
Iowa 0.105263157895
FloridaState 0.105263157895
BrighamYoung 0.105263157895
Wyoming 0.0964912280702
WestVirginia 0.0964912280702
WashingtonState 0.0964912280702
Washington 0.0964912280702
VirginiaTech 0.0964912280702
Vanderbilt 0.0964912280702
Utah 0.0964912280702
UCLA 0.0964912280702
Tulane 0.0964912280702
TexasElPaso 0.0964912280702
TexasChristian 0.0964912280702
TexasA&M 0.0964912280702
Texas 0.0964912280702
Tennessee 0.0964912280702
Temple 0.0964912280702
Syracuse 0.0964912280702
Stanford 0.0964912280702
SouthCarolina 0.0964912280702
SanJoseState 0.0964912280702
SanDiegoState 0.0964912280702
Rice 0.0964912280702
Purdue 0.0964912280702
Pittsburgh 0.0964912280702
Oregon 0.0964912280702
Oklahoma 0.0964912280702
OhioState 0.0964912280702
NotreDame 0.0964912280702
Northwestern 0.0964912280702
NorthCarolinaState 0.0964912280702
NorthCarolina 0.0964912280702
NewMexicoState 0.0964912280702
NewMexico 0.0964912280702
Nebraska 0.0964912280702
Navy 0.0964912280702
MississippiState 0.0964912280702
Mississippi 0.0964912280702
Minnesota 0.0964912280702
MichiganState 0.0964912280702
Michigan 0.0964912280702
MiamiOhio 0.0964912280702
Memphis 0.0964912280702
Maryland 0.0964912280702
IowaState 0.0964912280702
Indiana 0.0964912280702
Illinois 0.0964912280702
Houston 0.0964912280702
Hawaii 0.0964912280702
GeorgiaTech 0.0964912280702
FresnoState 0.0964912280702
Florida 0.0964912280702
EasternMichigan 0.0964912280702
EastCarolina 0.0964912280702
Duke 0.0964912280702
Colorado 0.0964912280702
Cincinnati 0.0964912280702
CentralMichigan 0.0964912280702
California 0.0964912280702
Buffalo 0.0964912280702
BowlingGreenState 0.0964912280702
BostonCollege 0.0964912280702
Auburn 0.0964912280702
Army 0.0964912280702
ArizonaState 0.0964912280702
Arizona 0.0964912280702
Alabama 0.0964912280702
Akron 0.0964912280702
WesternMichigan 0.0877192982456
WakeForest 0.0877192982456
Virginia 0.0877192982456
SouthernMississippi 0.0877192982456
Rutgers 0.0877192982456
OregonState 0.0877192982456
OklahomaState 0.0877192982456
Ohio 0.0877192982456
NorthernIllinois 0.0877192982456
NorthTexas 0.0877192982456
Missouri 0.0877192982456
MiamiFlorida 0.0877192982456
Marshall 0.0877192982456
Louisville 0.0877192982456
LouisianaTech 0.0877192982456
LouisianaState 0.0877192982456
Kentucky 0.0877192982456
Kent 0.0877192982456
Kansas 0.0877192982456
Georgia 0.0877192982456
ColoradoState 0.0877192982456
Clemson 0.0877192982456
Baylor 0.0877192982456
BallState 0.0877192982456
ArkansasState 0.0877192982456
Arkansas 0.0877192982456
AlabamaBirmingham 0.0877192982456
AirForce 0.0877192982456
UtahState 0.0789473684211
Toledo 0.0789473684211
MiddleTennesseeState 0.0789473684211
Idaho 0.0789473684211
BoiseState 0.0789473684211
LouisianaMonroe 0.0701754385965
LouisianaLafayette 0.0701754385965
CentralFlorida 0.0701754385965
Connecticut 0.0614035087719